<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Game not found</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
  <body>
    
    <div class="title-container">
      <h1>404</h1>
      <br>
      <br>
      <h1>Game not found :(</h1>
    </div>

    <div class="text-container">
      <span>Either the game is no longer active or the invitation link is incorrect.</span>
    </div>
    
  </body>
</html>