<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/socketio.js"></script>
    <script src="/javascripts/Utils.js"></script>
    <script src='/javascripts/NetworkManager.js'></script>
    <script src='/javascripts/Renderer.js'></script>
    <script src='/javascripts/Input.js'></script>
    <script defer src='/javascripts/Main.js'></script>
  </head>
  <body>
    <canvas id="canvas"></canvas>
  </body>
</html>
