<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script src="/javascripts/socketio.js"></script>
  <script src="/javascripts/Utils.js"></script>
  <script src='/javascripts/NetworkManager.js'></script>
  <script src='/javascripts/Renderer.js'></script>
  <script src='/javascripts/Input.js'></script>
  <script defer src="/javascripts/ui.js"></script>
  <script defer src="/javascripts/main.js"></script>
</head>
<body>
  <div class="pregame-ui-container">
    <div class="title-container">
      <h1>Poly-Pong</h1>
    </div>
  
    <div class="text-container">
      <span class="game-status-text">EMPTY</span>
    </div>
  
    <div class="btn-container">
      <input class="input-join" placeholder="INVITE CODE">
      <button class="btn-host">HOST</button>
      <button class="btn-join">JOIN</button>
    </div>
  
    <div class="btn-container">
      <button class="btn-back">BACK</button>
    </div>
  </div>
  <div class="canvas-container">
    <canvas id="canvas"></canvas>
  </div>
</body>
</html>
